<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="1" parallel="methods" >
    <test name="testGuru">
        <classes>
            <class name="PaymentTests.Payment"></class>
            <class name="PaymentTests.Buy11Cases"></class>
            <class name="Orders.Orders"></class>
            <class name="Bascet.Bascet"></class>
            <class name="Registration.Registration"></class>



        </classes>
    </test>
</suite>